[Desktop Entry]
Type=Application
Name=appscan
GenericName=Scanner
Comment=Scan documents and photos with SANE scanners
Exec=appscan gui
Icon=appscan
Terminal=false
Categories=Graphics;Scanning;
Keywords=scan;scanner;epson;perfection;pdf;
StartupWMClass=appscan
StartupNotify=true
